.courseCard {
    border: solid 2px aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
}

.courseDescription {
    width: 55%;
}

.courseInfo {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    margin: 10px auto;
}

p {
    margin-top: 0;
}

Button {
    margin: 5px auto;
}

.overflow-ellipsis {
    width: 20em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}