header {
    border: solid 2px deeppink;
    margin: 20px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userNameAndLogout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userName {
    margin: 10px 20px;
    font-size: 1.3rem;
}