.allAuthorsBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.allAuthorsList {
    width: 70%;
    margin: 0;
    padding: 0;
}

.authorItem {
    width: 100%;
    margin: 0;
    padding: 0;
}

.author {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
